@font-face {
  font-family: "icon";
  src: url("/src/ZBFicon.ttf");
}

body {
  margin: 0;
  background: black;
  color: white;
  font-family: monospace;
  font-size: 20px;
  display: grid;
  grid-template-rows: 50px calc(100% - 50px);
  grid-template-columns: 60% 40%;
  /* grid-template-areas: "h h" "c m"; */
  grid-template-areas: "h h" "c c";
  height: 100vh;
  overflow: clip;
}

.style { display: inline-block; margin: 0; }

.style.b { font-weight: bold; }
.style.i { font-style: italic; }
.style.u { text-decoration: underline; }
.style.s { text-decoration: line-through; }

#new1 {
  background: red;
  border-radius: 2px;
  font-size: 15px;
  padding: 2px;
  font-weight: bold;
  margin: 2px 0px 4px 4px;
  display: inline-block;
  user-select: none;
  cursor: pointer;
}

#new2 {
  border: 1px solid red;
  height: 0;
  width: 380px;
  margin-bottom: 3px;
  display: inline-block;
}

.clearsize {
  font-size: 0;
}

.clearsize>* {
  font-size: 20px;
}

.date {
  float: right;
  cursor: pointer;
}

.right {
  float: right;
  width: 50%;
}

ul>li {
  border-radius: 10px;
  padding-left: 5px;
  width: 200px;
  margin: 5px;
}

li.doing {
  background: #ff08;
}

li.done {
  text-decoration: line-through;
}

h3 {
  margin: 5px 0;
}

.img {
  max-width: 500px;
  max-height: 500px;
}

.icon {
  font-family: icon;
}

a,
a:visited {
  color: #48f !important;
  font-weight: bold !important;
  text-decoration: underline;
  cursor: pointer;
}

.emote {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.emote:active {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
}

.perm {
  border: 1px solid #000;
  border-radius: 30px;
  font-weight: normal;
  margin-left: 8px;
  line-height: 17px;
  width: 15px;
  height: 15px;
  text-align-last: center;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
}

.pb {
  color: #f00;
  border-color: #f00;
}

.p {
  display: none;
}

.pv {
  color: #0f0;
  border-color: #0f0;
}

.pm {
  color: #00f;
  border-color: #00f;
}

.pa {
  color: #ff0;
  border-color: #ff0;
}

.pfp {
  border-radius: 30px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

h3>.pfp {
  width: 30px;
  height: 30px;
}

.eduser {
  font-family: icon;
  cursor: pointer;
  user-select: none;
  font-size: 30px;
  vertical-align: bottom;
}

#n-count {
  background: red;
  color: white;
  position: relative;
  left: 180px;
  font-family: monospace;
  line-height: 19px;
  vertical-align: baseline;
  font-size: 15px;
  height: 15px;
  width: 15px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  display: none;
  margin: 0;
}

#untag {
  color: white;
  font-family: monospace;
  font-size: 20px;
  padding-right: 10px;
  vertical-align: middle;
}

.mod {
  display: none !important;
}

.button {
  font-weight: bold;
  border: 2px solid gray;
  background: #444;
  margin: 4px;
  padding: 4px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

input {
  border: 2px solid gray;
  background: #444;
  margin: 4px;
  padding: 4px;
  display: inline-block;
  cursor: text;
  color: white;
  font-family: monospace;
  font-size: 20px;
  outline: none;
  width: calc(100% - 25px);
}

textarea {
  border: 2px solid gray;
  background: #444;
  margin: 4px;
  padding: 4px;
  display: block;
  cursor: text;
  color: white;
  font-family: monospace;
  font-size: 20px;
  outline: none;
  width: calc(100% - 25px);
  height: 250px;
  resize: none;
}

.ps-desc {
  font-size: 20px;
  color: #aaa;
  margin: 0px;
}

.post {
  display: block;
  font-size: 25px;
  border: 2px solid gray;
  width: calc(100% - 25px);
  min-height: 100px;
  margin: 8px 4px;
  min-height: 30px;
  text-wrap: wrap;
  padding: 5px;
  background: #444;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

.post>hr {
  border: 1px solid #888;
}

#header {
  z-index: 100;
  background: blue;
  font-size: 30px;
  padding: 5px;
  height: 40px;
  border-bottom: 2px solid gray;
  user-select: none;
  grid-area: h;
}

#content {
  padding: 10px;
  grid-area: c;
  overflow-y: scroll;
}

#menu {
  display: none;
  /*
    -----------------------
  */
  grid-area: m;
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  height: calc(100% - 2px);
}

#m-toolbar {
  background: blue;
  border-bottom: 2px solid gray;
  height: 50px;
}

#mt-name {
  display: inline-block;
  font-size: 30px;
  height: 50px;
  align-content: center;
  text-align: center;
  padding: 5px;
  width: calc(100% - 120px);
}

#mt-close {
  width: 50px;
  height: 50px;
  font-size: 50px;
  vertical-align: middle;
  text-align: center;
  border-left: 2px solid gray;
  float: right;
  user-select: none;
  cursor: pointer;
}

#mt-full {
  width: 50px;
  height: 50px;
  font-size: 50px;
  align-content: center;
  text-align: center;
  border-right: 2px solid gray;
  float: left;
  user-select: none;
  cursor: pointer;
}

#m-content {
  padding: 8px;
}

#h-title {
  cursor: pointer;
}

#ht-icon {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

#h-opts {
  position: absolute;
  top: 10px;
  right: 5px;
  cursor: pointer;
  display: inline-block;
}

.h-opt {
  font-family: icon;
}

.postslot {
  margin: 4px;
  display: block;
  font-size: 25px;
  border: 2px solid gray;
  width: 400px;
  min-height: 30px;
  text-wrap: wrap;
  padding: 5px;
  background: #444;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}
